.video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
  height: 100vh;
  width: 100%;
}

.main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_content {
  position: relative;
  z-index: 1;
  color: white;
}
.search-box {
  position: absolute;
  top: 29px;
  left: -219px;
  display: flex;
}
.search-box button {
  margin-left: 55px;
}
.search-box input {
  height: 35px;
}
.headig {
  z-index: 1;
  color: white;
  position: relative;
  top: -152px;
  left: 63px;
  font-size: -webkit-xxx-large;
}
.weather-box {
  top: 0px;
  left: 81px;
  position: relative;
}
.data_wet {
  position: relative;
  top: 112px;
  left: -185px;
  display: flex;
  font-size: larger;

  font-weight: 900;
}
.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: white;
  font-size: 100px;
  font-weight: 900;
}
.weather-box .weather {
  font-size: 25px;
  font-weight: 900;
}
